#affichecartes .cartecontent {
  background-image:url("../img/card1.jpg");
  width:23%;
  height:349px;
  background-size:100%;
  position:relative;
  float:left;

  margin-left:20px;
  margin-top:10px;
  margin-bottom:10px;
}
#affichecartes .cartecontent .blackcard {
  width:100%;
  height:100%;
    vertical-align:top;
}
#affichecartes .cartecontent .blackcard:after{
    content:'\A';
    position:absolute;
    width:100%;
    height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#affichecartes .cartecontent .blackcard:hover:after {
    opacity:1;
}
#affichecartes{
  padding-left:10px;
  padding-top:30px;
}


#affichecartes .cartecontent .cardselection{
   width: 23%;
  height: 10%;
  position: absolute;
  top: 5%;
  left: 72%;
}
#affichecartes .cartecontent .moreinfo{
  width:50%;
  height:100%;
  background-color:#22a86c;
  float: left;
  border-right:1px solid #1f9963;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background-image:url("../img/cross.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#affichecartes .cartecontent .selecttype{
  width:50%;
  height:100%;
  background-color:#22a86c;
  float: right;
    border-top-right-radius:5px;
  border-bottom-right-radius:5px;
    background-image:url("../img/chevron.png");
    background-repeat: no-repeat;
  background-position: 50% 50%;
}

#affichecartes .cartecontent .addcart {
  width:36%;
  height:36%;
  position:absolute;
   top: 30%;
  left: 35%;
  background-size:100%;
  background-image:url("../img/selectcard.png");
}

#affichecartes .cartecontent .price {
  width:49%;
 /* height:98px;*/
  background-image:url("../img/price.png");
  position:absolute;
  top: 65%;
  left: 53%;
  background-size:100%;
  text-align:center;
  color:white;
  font-size: 250%;
  font-weight: bolder;}

  #affichecartes .cartecontent .price p {
    position: absolute;
    top:40%;
    left: 20%;
  }